<header>
    <h1>MY LIBARY</h1>
    <nav>
      <a href="/authors/search">Search Author</a>
      <a href="/authors/new">Add Author</a>
      <a href="/book">Books</a>
      <a href="/book/new">Add Book</a>
    </nav>
  </header>
  