<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MY LIBARY</title>
  >
</head>
<body>
  <header>
    <h1>Welcome to My App</h1>
    <nav>
      <a href="/authors">HOME</a> | 
      <a href="/authors/aboutus">ABOUT US</a>
    </nav>
  </header>


  <main>
    <%- body %>
  </main>

  <footer>
    <p>&copy; 2024 My App</p>
  </footer>
</body>
</html>
